---
const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style>
            h1 {
              color: purple;
              font-size: 4rem;
            }
          </style>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/1">1 chat</a>
        <a href="/blog">blog</a>
        <h1>{pageTitle}</h1>
        <p>Hi! I am Kabir, a human of the internet.

            I write, code, make music, and a variety of other things. 
            take a look around and find out!</p>
            <p>
            This site was build using astro.
            get in touch with me if you want to work together, or play together.
            </p>
            <p>bruh bruh
            date mee now now now by derek sivers
        </p>
	</body>
</html>
